
<h1>&nbsp;</h1>

<a name="selector">&nbsp;</a>

<ul class="selector">
  <% for year in @years -%>
    <li>
      <% if year == @year -%>
        <div class="active">
          <div class="head"><%= year %></div>
          <ul><% for booc in @boocs -%>
              <li><%= link_to booc.meta(:year), "#booc#{booc.id}" %></li>
          <% end -%></ul>
        </div>
      <% else -%>
        <%= link_to year, :year=> year %>
      <% end -%>
    </li>
  <% end -%>
</ul>

<div class="boocs main">
  <% for booc in @boocs %>
    <div class="booc">
      <h1><a name="booc<%= booc.id %>" href="#selector"><%= booc.title %></a></h1>
      <div class="date"><%= booc.meta(:year) %></div>
      <div class="body"><%= redcloth booc.content %></div>
      <div class="responses">
        <h6>Responses</h6>
        <% form_for :response, :url => {:action => 'booc_response', :id => booc.id} do |f| %>
          <div class="no_spam">required:<input type="text" name="name" value="" /></div>
          <label>name:</label><input type="text" name="response[title]" class="required" /><br/>
          <textarea cols="40" class="required" name="response[content]" rows="20"></textarea>
          <br/>
          <%= f.submit 'respond' %>
        <% end %>
        <% for comment in booc.children -%>
          <div class="response">
            <label><%= h comment.title %></label> said: <%= h comment.content %>
          </div>
        <% end -%>
      </div>
      <%= clear %>
      <a href="#selector">back to top</a>
      <div class="image">
        <% if booc.attachment(:thumb) %>
          <%= image_tag booc.attachment(:thumb).public_filename %>
        <% end %>
      </div>

    </div>
    <br/>
  <% end  %>
</div>

<%= clear %>
<br/><br/><br/>

<script type="text/javascript">
  String.prototype.trim = function() { return this.replace(/^s+|s+$/g, ""); };
  $("form").submit(function() {
    var completed = true;
    $(this).find(".required").each(function() {
      if ($.trim(this.value) == "") {
        completed = false;
        $(this).addClass("error");
      } else {
        $(this).removeClass("error");
        this.value = $.trim(this.value);
      }
    });
    return completed;
  });
</script>