


<div id="files_browser">
</div>

<div class="files main">
  <% for card in @files -%>
    <div class="file">
      <div class="thumb"><%= thumb_of card, :thumb %> </div>
      <%  if (card.meta(:link) != nil) %>
        <div class="info"><%= link_to image_tag('pdf.gif'), card.public_file(:pdf) %></div>
        <div class="info last"><%= link_to image_tag('www.gif'), card.meta(:link) %></div>
      <% elsif card.attachment(:pdf) %>
        <div class="info last"><%= link_to image_tag('pdf.gif'), card.public_file(:pdf) %></div>
      <% end %>
    </div>
  <% end -%>
</div>

<%= clear  %>
<br/><br/><br/>


<script type="text/javascript">
  jQuery(function($) {$("a.thumbnail").fancybox();});

<% if @show %>
    jQuery(function($) {$.show_image('<%= @show %>');});
<% end %>
</script>
