


<div id="files_browser">
</div>

<div class="files main">
  <% for card in @files -%>
    <div class="file">
      <div class="thumb"><%= thumb_of card, :thumb %> </div>
      <%  if (card.meta(:link) != nil) %>
        <div class="info"><%= link_to image_tag('xy/pdf.gif'), card.public_file(:pdf) %></div>
        <div class="info last"><%= link_to image_tag('xy/www.gif'), card.meta(:link) %></div>
      <% elsif card.attachment(:pdf) %>
        <div class="info last"><%= link_to image_tag('xy/pdf.gif'), card.public_file(:pdf) %></div>
      <% end %>
    </div>
  <% end -%>
</div>

<%= clear  %>
<br/><br/><br/>


<script type="text/javascript">
  $(document).ready(function() {
    $.fn.center = function(loaded) {
      var obj = this;
      if(!loaded) {
        //obj.css('top', $(window).height()/2-this.height()/2);
        obj.css('left', $(window).width()/2-this.width()/2);
        $(window).resize(function()
        { obj.centerScreen(!loaded); });
      } else {
        obj.stop();
        obj.animate({ top: $(window).height()/2-
            this.height()/2, left: $
          (window).width()/2-this.width()/2}, 200, 'linear');
      }
    }

    $.fn.image = function(src, f) {
      return this.each(function() {
        var i = new Image();
        i.src = src;
        i.onload = f;
        this.appendChild(i);
      });
    }
  });


  show_image = function(file) {
    var pos = $(window).scrollTop();
    $('#container').fadeOut(function () {
      //$(window).animate({ scrollTop: 0 }, "slow");
      $(window).scrollTop(0);
      $('#file_preview').fadeIn().center();
    });
    $('#file_preview').empty().image(file, function() {
      $(this).click(function () {
        $('#container').show();
        $('#file_preview').fadeOut();
        //$("body").animate({ scrollTop: pos }, "slow");
        $(window).scrollTop(pos);
      });
    });
  }
</script>
